Flask==3.0.3
gunicorn==20.1.0
vertexai==1.67.1
flask-cors
google-generativeai==0.7.2
langchain_google_genai
google-cloud-aiplatform==1.67.1
langchain-core
google-api-python-client==2.100.0,
Pillow==9.5.0,
requests==2.31.0
